doctype html
html
    head
        title <?php bloginfo(); ?>
        link(
            rel="stylesheet"
            href="css/styles.css"
            )
    body
        h1 hello world
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, fugiat.

        article.col-3
            h2 Title article
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, ab!
        article.col-3
            h2 Title article
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, ab!
        article.col-3
            h2 Title article
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, ab!
        section.loop
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, ab!
        div.test
            h6 Eu tenho que testar mais algumas coisas.
